@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');

main {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  
  position: absolute;
  z-index: -1;
}
form {
  align-self: center; 
}

.field-set {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  /* add background color */
  background-color: hsl(136deg, 0%, 0%, 90%);
  border: 2px solid #FAEBD7;
  border-radius: 25px;

  
}

/* change legend font-size */
legend {
  font-size: 2.4rem;
  font-family: 'Piazzolla', serif;
  color:  #FAEBD7;
  background-color: hsl(to top 136deg, 0%, 0%, 70%);
}

/* Add padding to containers */
.container {
  padding: 16px;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  margin-bottom: 1rem;
  display: inline-block;

  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* label color and size */
label {
  color: #FAEBD7;
  font-size: 1.5rem;
  font-family: 'Piazzolla', serif;
}

/* make <em> smaller */
em {
  font-size: 0.8em;
}

/* adjust button and design */
button {
  margin: auto;
  width: 20%;
  height: 2.5em;
}

.btn {
  margin-bottom: 1.5em;
  
  text-align: center;
  font-weight: bold;

  /* design login button */
  background-color: #000;
  border: 1px solid  #FAEBD7;
  cursor: pointer;
}

/* change submit button text color */
.btn a {
  color: white;
  text-decoration: none;
}

/* target anchor and button seperatly */
.btn:active {
  background-color: #fff;
}

.btn a:active {
  color: #000;
}

/* footer */ 
/*  TODO: FIX THE Go back to home position */
footer {
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.guide-link {
  padding-left: 0px;
}

.guide-link li {
  padding: 0.5rem;
  text-decoration: underline white;
}

@media screen and (max-width: 500px) {
  .btn {
    width: 6rem;
    padding: 0.6em;
    
    margin-top: 1rem;
  }

  .field-set {
    margin: 3rem;
  }

  .container {
    padding-bottom: 0;
  }

  legend {
    text-align: center;
    font-size: 2rem;
  }

  li {
    margin: auto;
  }
}

@media screen and (min-width: 500px) {
  .field-set {
    margin: 1rem;
  }
}