* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}
/* navigation bar */
.header img {
  width: 3rem;
  height: 3rem;
  margin-top: 1em;
  margin-left: 11em;

  border: 2px solid #FAEBD7;
  border-radius: 50%;

  background-color:  #FAEBD7;
}

/* navigation bar */
.header {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 100%;

  background-color: black;
  border-bottom: 1px solid  #FAEBD7;
}

/* list wrapper */
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 8em;
}

.navbar ul {
  display: flex;
  
}

li {
  list-style-type: none;
  transition:text-shadow .5s ease;
}

li a {
  margin: 10px;
  text-decoration: none;
  /* TODO make prettier */
  color: white;
}

li:hover {
  text-shadow:0px 0px 1.6px;
}

.login a{
  margin-left: 15px;
  border: 1px solid  #FAEBD7;
  border-radius: 13px;
  padding: 10px;
  font-weight: 600;

  color: #222;
  background-color: #fff;

  transition: all .5s;
}

/* login hover */
.login a:hover {
  color: #fff;
  background-color: #000;
  transform: translateY(-2px);
}

.register a{
  border: 1px solid  #FAEBD7;
  border-radius: 13px;
  padding: 10px;
  font-weight: 600;

  transition: all .5s;
}

.register a:active{
  color: #000;
  background-color: #fff;
  
  transform: translateY(-2px);
}

/* hero section */
.hero-section {
  display: grid;
  grid-template-rows: 5em 1fr 40rem;
  grid-template-columns: 1fr 2fr 1fr;
  
}

h1 {
  margin: auto;
  grid-column-start: 2;
  grid-column-end: 3;
}

p {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
}

/* footer */

footer {
  font-size: 1.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  height:150px;
  
  background-color: #030303;
  color: white;
  border-top: 2px solid #FAEBD7;
}